.rodape {
    background-color: var(--off-white-rodape);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.rodape__textos {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.rodape__titulo {
    color: var(--azul-marinho);
    font-size: 26px; 
    font-weight: 600;
    line-height: 40px;
    margin-top: 2em; /*MUDEI AQUI*/
    
}

.rodape__texto-vagas {
    color: var(--cinza-claro);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin: 1em 2em; /*MUDEI AQUI*/
}

.rodape__cadastro{
    margin: 2em;
}

.rodape__cadastro__input {
    width: 260px; 
    padding: 1em;
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    border-color: var(--cinza-input);
    border-width: 2px;
    border-style: solid;
    margin-bottom: 1.5em; /*MUDEI AQUI*/
}

.rodape__cadastro__botao {
    background-color: var(--bordo);
    font-size: 16px;
    font-weight: 500;
    color: var(--branco);
    border-radius: 8px;
    padding: 1em;
    margin-left: 1em;
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.3);
    border: none;
    letter-spacing: 1px;
}

.rodape__direitos {
    color: var(--cinza-rodape);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 3em; /*MUDEI AQUI*/
}

@media screen and (min-width: 1728px) {
    .rodape__titulo {
        font-size: 36px;
    }
    
    .rodape__cadastro__input {
        width: 360px;
    }

    .rodape__direitos {
        margin-bottom: 5em;
    }

    .rodape__textos {
        gap: 0;
    }
}