.rodape {
    background-color: var(--off-white-rodape);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.rodape__textos {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.rodape__titulo {
    color: var(--azul-marinho);
    font-size: 24px; 
    font-weight: 600;
    line-height: 30px;
    margin-top: 1em;
    
}

.rodape__texto-vagas {
    color: var(--cinza-claro);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0.5em 2em;
}

.rodape__cadastro{
    margin: 2em;
}

.rodape__cadastro__input {
    width: 260px; 
    padding: 1em;
    font-size: 14px;
    font-weight: 400;
    border-radius: 8px;
    border-color: var(--cinza-input);
    border-width: 2px;
    border-style: solid;
    margin-bottom: 1.5em;
}

.rodape__cadastro__botao {
    background-color: var(--bordo);
    font-size: 16px;
    font-weight: 500;
    color: var(--branco);
    border-radius: 8px;
    padding: 1em;
    margin-left: auto;
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.3);
    border: none;
    letter-spacing: 1px;
}

.rodape__direitos {
    color: var(--cinza-rodape);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 3em;
}

@media screen and (min-width: 720px) {

    .rodape__cadastro__input, .rodape__cadastro__botao {
        font-size: 18px;
    }

    .rodape__cadastro__botao {
        font-weight: 600;
    }

}


@media screen and (min-width: 1728px) {
    .rodape__titulo {
        font-size: 36px;
    }
    
    .rodape__cadastro__input {
        width: 360px;
    }

    .rodape__direitos {
        margin-bottom: 5em;
    }

    .rodape__textos {
        gap: 0;
    }
}