.vagas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vagas__informacoes {
    border: solid 1.5px var(--off-white);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    padding: 1em;
    margin: 1.5em 2em;
}

.vagas__titulo {
    font-size: 18px;
    font-weight: 500;
    color: var(--azul-marinho);
    margin: 0 1.5em;
    font-weight: 600;
}

.vagas__informacoes__titulo {
    font-size: 18px;
    font-weight: 500;
    color: var(--azul-marinho);
}

.vagas__informacoes__condicoes {
    font-size: 16px;
    font-weight: 500;
    color: var(--cinza-claro);
    display: flex;
    gap: 1em;
}

.vagas__container {
    margin: 1em 0;
}

@media screen and (min-width: 720px) {
    
    .vagas__informacoes {
        padding: 2em 18em 2em 1.5em;
    }

    .vagas__titulo {
        font-size: 20px;
        
    }

    .vagas__informacoes__titulo {
        font-size: 20px;
    }

    .vagas__informacoes__condicoes {
        font-size: 18px;
    }

}


@media screen and (min-width: 1728px) {

    .vagas__informacoes {
        padding: 2em 45em 2em 1.5em;
    }

    .vagas__titulo {
        font-size: 22px;
        
    }

    .vagas__informacoes__titulo {
        font-size: 22px;
    }

    .vagas__informacoes__condicoes {
        font-size: 20px;
    }
}